/*element selectors*/


/* h1{
    color: orange;
} */


/* h2{
    color: purple;
} */


/* body{ */


/*a is aplha = opacity*/


/* background-color: rgba(0, 255, 0, 0.1);
} */


/*id selectors*/


/* #p1{ */


/*hex notation: #rrggbb*/


/* color: #37669b;
} */


/* #p2{
    color: red;
} */


/*class selectors*/


/* .center{
    color: green;
} */


/* h1{
    background-color: purple;
    padding-left: 20px;
    margin-top: 40px;
} */


/* body{
  background-image: url('https://calories-info.com/site/assets/files/1173/mango.650x0.jpg');
} */


/* h1{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-style: italic;
    font-size: 2.2em;
} */


/* a:link{
    color: green;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    display: inline-block;
    background-color: wheat;
}
a:visited{
    color: blue;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    display: inline-block;
    background-color: wheat;
}
a:hover{
    color: chocolate;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    display: inline-block;
    background-color: wheat;
}
a:active{
    color: yellow;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    display: inline-block;
    background-color: wheat;
} */


/* .top-banner{
    color: purple;
}

.line1{
    color: blue;
}
.line2{
    color: red;
} */

.container {
    display: flex;
    background-color: yellow;
    flex-wrap: wrap;
}

.a {
    width: 500px;
    height: 150px;
    background-color: blue;
    flex-grow: 1;
}

.b {
    width: 500px;
    height: 150px;
    background-color: red;
    flex-grow: 1;
}

.c {
    width: 500px;
    height: 150px;
    background-color: green;
    flex-grow: 1;
}